Repository GameOnPortugal/monorepo, changes with the labels that .github/labeler.yaml gives for each.
All labels: Documentation, Workflows, Bot, Webpage, Scheduler

.github/labeler.yaml:

# General

Documentation:
  - changed-files:
      - any-glob-to-any-file:
        - "**/docs/**"
        - "**/*.md"

Workflows:
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"

# Libraries

Bot:
  - changed-files:
    - any-glob-to-any-file: "discord-bot/**"

Webpage:
  - changed-files:
    - any-glob-to-any-file: "webpage/**"

Scheduler:
  - changed-files:
    - any-glob-to-any-file: "scheduler/**"

chore: dont prepare
  .github/workflows/shared.tests.yaml
Labels: Workflows

chore: whatever
  .github/workflows/shared.tests.yaml
  discord-bot/docker-compose.ci.yml
  discord-bot/docker/Dockerfile
Labels: Workflows, Bot

copy env cuz. fck
  .github/workflows/shared.tests.yaml
Labels: Workflows

chore: prepare test
  .github/workflows/shared.tests.yaml
Labels: Workflows

chore: fix deploy image
  .github/workflows/bot.yaml
  .github/workflows/shared.build-image.yaml
  discord-bot/docker-compose.yml
Labels: Workflows, Bot

chore: fix entrypoint
  discord-bot/docker/entrypoint.sh
Labels: Bot

feat: enable screenshot winner. run commands
  discord-bot/package.json
  discord-bot/src/Ui/Cli/WeekScreenshotWinner.ts
  scheduler/config.ini
Labels: Bot, Scheduler

Fix DeleteAd subcommand context usage and improve error logging
  discord-bot/src/Infrastructure/Bot/Discord/DiscordBot.ts
  discord-bot/src/Infrastructure/Bot/Discord/SlashCommand/Marketplace/DeleteAdSubcommand.ts
Labels: Bot

chore: add extra permission
  .github/workflows/shared.labeler.yaml
Labels: Workflows

Fix DeleteAd subcommand context usage and improve error logging (#1)
  discord-bot/src/Infrastructure/Bot/Discord/DiscordBot.ts
  discord-bot/src/Infrastructure/Bot/Discord/SlashCommand/Marketplace/DeleteAdSubcommand.ts
Labels: Bot

Show ad IDs in list and support deletion by position
  discord-bot/src/Infrastructure/Bot/Discord/SlashCommand/Marketplace/DeleteAdSubcommand.ts
  discord-bot/src/Infrastructure/Bot/Discord/SlashCommand/Marketplace/ListAdsSubcommand.ts
Labels: Bot

Show ad IDs in list and support deletion by position (#2)
  discord-bot/src/Infrastructure/Bot/Discord/SlashCommand/Marketplace/DeleteAdSubcommand.ts
  discord-bot/src/Infrastructure/Bot/Discord/SlashCommand/Marketplace/ListAdsSubcommand.ts
Labels: Bot
