Repository GameOnPortugal/monorepo, changes with the labels that .github/labeler.yaml gives for each.
All labels: Documentation, Workflows, Bot, Webpage, Scheduler

chore: run on public gh
  .github/actions/shared.build-image.yaml
  .github/actions/shared.deploy.yaml
  .github/workflows/global.release-please.yaml
  .github/workflows/shared.labeler.yaml
  .github/workflows/shared.test-notification.yaml
  .github/workflows/shared.workflow-failed.yaml
Labels: Workflows

chore: re-add scheduler
  scheduler/.github/workflows/deploy.yml
  scheduler/Dockerfile
  scheduler/config.ini
  scheduler/requirements.txt
  scheduler/supervisord.conf
  scheduler/update_container.py
Labels: Scheduler

chore: add release please config
  .release-please-manifest.json
Labels: none

chore: fix gha
  .github/workflows/api.yaml
  .github/workflows/scheduler.yaml
Labels: Workflows

chore: omg
  .github/workflows/api.yaml
  .github/workflows/scheduler.yaml
Labels: Workflows

chore: fix for api
  .github/workflows/api.yaml
Labels: Workflows

chore: attempt 2
  .github/workflows/api.yaml
Labels: Workflows

chore: fix
  .github/workflows/api.yaml
  .github/workflows/scheduler.yaml
  .github/workflows/shared.build-image.yaml
  .github/workflows/shared.deploy.yaml
  .github/workflows/shared.tests.yaml
Labels: Workflows

chore: fix
  .github/workflows/bot.yaml
  scheduler/docker/Dockerfile
  scheduler/docker/entrypoint.sh
Labels: Workflows, Scheduler

feat: more fixes
  scheduler/.github/workflows/deploy.yml
  scheduler/Dockerfile
  scheduler/config.ini
  scheduler/requirements.txt
  scheduler/update_container.py
  scheduler/version.txt
  webpage/version.txt
Labels: Webpage, Scheduler

chore: fix gha for bot
  .github/workflows/bot.yaml
Labels: Workflows

chore: fix bot gha
  .github/workflows/bot.yaml
Labels: Workflows

chore: fix gha
  .github/workflows/bot.yaml
Labels: Workflows

chore: fix gha
  .github/workflows/shared.tests.yaml
Labels: Workflows

chore: fixes to docker
  .github/workflows/bot.yaml
  .github/workflows/shared.tests.yaml
  discord-bot/docker/Dockerfile
Labels: Workflows, Bot

chore: add missing files
  discord-bot/docker-compose.ci.yml
Labels: Bot

chore: another fix
  .github/workflows/shared.tests.yaml
  discord-bot/docker-compose.ci.yml
Labels: Workflows, Bot

chore: try
  discord-bot/package.json
Labels: Bot

chore: install env cmd globally
  discord-bot/docker/Dockerfile
  discord-bot/package.json
Labels: Bot

chore: another attempt
  discord-bot/docker/Dockerfile
Labels: Bot

chore: install envcmd
  discord-bot/docker/Dockerfile
Labels: Bot

chore: another attempt
  discord-bot/docker/Dockerfile
Labels: Bot

fix my release
  .github/release-please-config.json
  .release-please-manifest.json
Labels: none

chore: another attempt
  discord-bot/package.json
Labels: Bot

chore: try to add prisma back
  discord-bot/docker/Dockerfile
Labels: Bot

chore: anoter attempt
  discord-bot/package.json
Labels: Bot

chore: another attempt
  discord-bot/docker/Dockerfile
  discord-bot/package.json
Labels: Bot

chore: another attempt
  discord-bot/docker/Dockerfile
Labels: Bot

chore: fff
  discord-bot/docker/Dockerfile
Labels: Bot

chore: another attempt
  discord-bot/package.json
Labels: Bot

chore: fix test
  discord-bot/tests/Integration/Application/Write/Marketplace/DeleteAd/DeleteAdHandler.test.ts
Labels: Bot

chore: add install on docker to see if it helps
  .github/workflows/shared.tests.yaml
Labels: Workflows

chore: try again with latest
  discord-bot/docker/Dockerfile
Labels: Bot

chore: copy
  discord-bot/docker-compose.ci.yml
  discord-bot/docker/Dockerfile
Labels: Bot

chore: more changes
  .github/workflows/shared.build-image.yaml
  .github/workflows/shared.tests.yaml
  discord-bot/docker-compose.ci.yml
  discord-bot/docker-compose.yml
  discord-bot/docker/Dockerfile
Labels: Workflows, Bot

chore: always init bot even when it cant connect
  discord-bot/src/Infrastructure/DependencyInjection/inversify.config.ts
Labels: Bot

chore: use in memory for when discord is not ready
  discord-bot/src/Infrastructure/Bot/InMemory/InMemoryClient.ts
  discord-bot/src/Infrastructure/DependencyInjection/inversify.config.ts
Labels: Bot

chore: more copying
  discord-bot/docker/Dockerfile
Labels: Bot

chore: try with target
  discord-bot/docker-compose.ci.yml
  discord-bot/docker-compose.yml
  discord-bot/docker/Dockerfile
Labels: Bot

chore: ls
  .github/workflows/shared.tests.yaml
Labels: Workflows

.github/labeler.yaml:

# General

Documentation:
  - changed-files:
      - any-glob-to-any-file:
        - "**/docs/**"
        - "**/*.md"

Workflows:
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"

# Libraries

Bot:
  - changed-files:
    - any-glob-to-any-file: "discord-bot/**"

Webpage:
  - changed-files:
    - any-glob-to-any-file: "webpage/**"

Scheduler:
  - changed-files:
    - any-glob-to-any-file: "scheduler/**"
